@font-face {
    font-family: 'MB';
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'MR';
    src: url(../fonts/Montserrat-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    bottom: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

header{
    font-family: 'MR';
    font-weight: 800;
}

.container h2{
    font-size: 50px;
}

.biography .card{
    background-color:rgb(199, 145, 230);
}


.container h3{
    color:rgb(199, 145, 230);
    font-size: 40px;
}